@page "/login"

@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

@attribute [AllowAnonymous]

<div class="row justify-content-center min-vh-100 align-items-center p-4">
    <div class="col-lg-4 col-md-6 col-sm-10 pt-4 pb-4 border border-secondary rounded">
        <div class="mb-3 text-center flex-column">
                <h3>Login</h3>
            </div>
        <form action="/api/auth/login" method="post">
            <AntiforgeryToken />

            <div class="mb-3">
                <input type="text" name="userName" class="form-control" placeholder="Username" required />
            </div>

            <div class="mb-3">
                <input type="password" name="password" placeholder="Password" class="form-control" required />
            </div>

            @if (!string.IsNullOrEmpty(ErrorMessage)) {
                <div class="mb-3 text-center">
                    <span class="text-danger">@ErrorMessage</span>
                </div>
            }

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        
        <div class="mt-3 text-center">
            <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = "error")]
    public string? ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync() {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        
        if (authState.User.Identity?.IsAuthenticated == true) {
            NavigationManager.NavigateTo("/");
        }
    }
}