@using SpotAnalysis.Services.Services;

<div class="input-group">
    <InputText @bind-Value="Value" 
               class="form-control font-bold text-center"/>
    <button type="button" 
            class="btn btn-outline-secondary" 
            @onclick="Generate"
            title="Generate random username, choose wisely 🎲">
        🎲
    </button>
</div>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool AutoGenerate { get; set; } = true;
        
    [Inject] public IUsernameService UsernameService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (AutoGenerate && string.IsNullOrWhiteSpace(Value))
            await Generate();
    }

    private async Task Generate()
    {
        var name = UsernameService.Generate();
        Value = name;
        await ValueChanged.InvokeAsync(name);
    }
}