<<<<<<< HEAD
@using SpotAnalysis.Services.Services

=======
@using SpotAnalysis.Services.Services;
>>>>>>> 839c953df9a3d2e79aa116cb57fb448c4c5705f3

<div class="input-group">
    <InputText style="padding-left: 4rem;" 
               @bind-Value="Value" 
               class="form-control font-bold"/>
    <button type="button" 
            class="btn btn-outline-secondary" 
            @onclick="Generate"
            title="Generate random username, choose wisely 🎲">
        🎲
    </button>
</div>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Inject] public IUsernameService UsernameService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Value))
            await Generate();
    }

    private async Task Generate()
    {
        var name = UsernameService.Generate();
        Value = name; // Update the local value
        await ValueChanged.InvokeAsync(name);
    }
}