@page "/teacher/chemical"


<div class="h-100">
    <h3>Chemische Daten</h3>

    <button>Import</button>
    <button>Export</button>

    <a class="btn btn-sucess" href="">Chemikalien</a>
    <a>Reaktionen</a>
    <a>Methoden</a>

</div>

@code {

}
