@page "/teacher/groups/edit/"
@page "/teacher/groups/edit/{GroupId:int}"

@using SpotAnalysis.Services.DTOs
@using SpotAnalysis.Web.Components.Pages.Admin



<div class="card card-body h-70 mb-2 border border-2">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Students</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*Aus Gruppe selctierte students*@
                @foreach (var a in studListe)
                {
                    <td class="text-center">@a.UserName</td>
                    @*                         <td>@a.Roles</td>
                        <td>
                            <button class="btn btn-secondary">Edit</button>
                            <button class="btn btn-danger">Remove</button>
                        </td> *@
                    <td class="btn btn-danger">Delete
                        <i class="bi bi-trash3"></i>
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/teacher/groups/edit/create"></a>           
</div>



@code {
    List<StudentDto> studListe = new List<StudentDto>();
    List<GroupDto> grouplist = new List<GroupDto>();
}
