@page "/teacher/quiz/add/new"

<EditForm>

    <InputText>Aufgabe</InputText>
@*     <InputSelect>Educt1</InputSelect>
    <InputSelect>Educt2</InputSelect>
 *@    <button class="btn btn-success" type="submit">AddEduct</button>
    <InputTextArea>Beschreibung / Hinweise</InputTextArea>

    <button class="btn btn-success" type="submit">Submit</button>
</EditForm>

@code {
    // List<> eductList = new List<>();
}
