.tupfeln-icon-nav-link {
    display: flex;
    align-items: center;
}

.tupfeln-nav-link {
    text-decoration: none;
}

.tupfeln-toolbox {
    right: 24px;
    top: 98px;
}

.tupfeln-cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
