@page "/admin/overview"
@inject IAdminService AdminService

<div class="h-100">
    <div class="card card-body h-20 mb-2 border border-2">
            <form class="row" method="get" asp-page="/Search">
                <div class="search-container col-12">
                    <div class="row">
                        <button class="btn btn-primary col-2">Add</button>
                        <input type="text"
                               asp-for="SearchQuery"
                               placeholder="Search..."
                               class="search-input col-8" />
                        <button type="submit" class="search-btn col-2">&#128269</button>
                    </div>
                </div>
            </form>
    </div>
    <div class="card card-body h-50 mb-2 border border-2">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Rolle</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="12"><a class="btn btn-secondary" href="admin-overview/create">Create New Teacher</a></td>
                    </tr>

                    @foreach(var teacherAdmin in _teacherAdmins)
                    {
                        <tr>
                            <td>@teacherAdmin.UserName</td>
                            <td>@(string.Join(", ", teacherAdmin.Roles))</td>
                            <td>
                                <a class="btn btn-info" href="/admin/@teacherAdmin.Id/edit">Edit</a>
                                <button class="btn btn-danger" @onclick="() => Delete(teacherAdmin.Id)">Remove</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            
    </div>


</div>




@code {

    private List<UserDto> _teacherAdmins = [];

    protected override async Task OnInitializedAsync()
    {
        var teachers = await AdminService.GetUsersByRole(Role.Teacher);
        var admins = await AdminService.GetUsersByRole(Role.Admin);
        
        _teacherAdmins.AddRange(teachers);
        _teacherAdmins.AddRange(admins);
    }


    private async Task Delete(Guid userId)
    {
        await AdminService.DeleteUser(userId);
        _teacherAdmins.RemoveAll(a => a.Id == userId);
    }

}
